linux/lib/**/* filter=lfs diff=lfs merge=lfs -text
linux/lib/libspirv-cross-msl.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libbenchmark.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libbluevk.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libfilagui.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libgltf-demo-resources.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libsuzanne-resources.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libzstd.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libpng.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libvkshaders.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libbluegl.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libgeometry.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libktxreader.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libuberzlib.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libfilament.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libglslang.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libmathio.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libOSDependent.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libuberarchive.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libdracodec.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libmeshoptimizer.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libsdl2.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libfilamat_combined.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libimage.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libsample-resources.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libSPIRV-Tools-link.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libstb.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libimageio.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libSPIRV.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libutils.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libassimp.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libgtest.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libibl-lite.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libshaders.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libSPIRV-Tools-lint.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libbasis_encoder.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libfilamat.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libfilamat_lite.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libfilament-iblprefilter.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libmath.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libSPIRV-Tools-reduce.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libviewer.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libbasis_transcoder.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libfilabridge.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libfilamentapp.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libibl.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libOGLCompiler.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libspirv-cross-core.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libSPIRV-Tools-diff.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libbenchmark_main.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libcamutils.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libcivetweb.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libfilamentapp-resources.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libfilameshio.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libgetopt.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libspirv-cross-glsl.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libbackend.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libfilaflat.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libgltfio_core.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libimgui.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libmatdbg_resources.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libmatlang.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libsmol-v.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libmatdbg_combined.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libSPIRV-Tools.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libgltfio.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libtinyexr.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libz.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libmatdbg.a filter=lfs diff=lfs merge=lfs -text
linux/lib/libSPIRV-Tools-opt.a filter=lfs diff=lfs merge=lfs -text
windows/lib/** filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
