dart_filament/native/lib/macos/debug/libbackendtest_combined.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libfilabridge.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libgltfio_core.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libibl-lite.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libcamutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libgeometry_combined.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libbackend.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libuberarchive.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libbasis_transcoder.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libgeometry.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libmikktspace.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libzstd.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libcivetweb.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libsdl2.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libmeshoptimizer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libmathio.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libbasis_transcoder.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libfilament-iblprefilter.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libmatdbg_combined.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libspirv-cross-msl.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libtinyexr.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libzstd.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libSPIRV-Tools.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libgeometry.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libimageio.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libOGLCompiler.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libSPIRV-Tools-diff.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libfilamat_combined.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libfilameshio.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libmathio.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libassimp.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libmatlang.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libibl.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libmikktspace.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libmatdbg_combined.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/swift/DartFilamentTexture.h filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libfilamat_combined.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libfilament.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libibl.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libstb.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libuberzlib.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libbasis_encoder.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libimgui.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libdracodec.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libimageio.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libfilament.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libstb.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libbackend_test.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libgetopt.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libgtest.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libfilabridge.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libmatdbg_resources.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libuberarchive.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libfilaflat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libSPIRV.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libpng.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libvkshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libimage.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libmatdbg_resources.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libsuzanne-resources.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libfilamat_lite.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libgeometry_combined.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libsmol-v.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libmath.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libgeometry.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libmeshoptimizer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libpng16.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libbenchmark_main.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libbluegl.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libuberzlib.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/swift/build.sh filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libdracodec.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libibl.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libktxreader.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libbluegl.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libfilaflat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libpng.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libbluevk.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libfilaflat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libfilamat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libglslang.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libcivetweb.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libktxreader.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libbenchmark.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libgltf-demo-resources.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libgltfio_core.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libSPIRV-Tools-lint.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libdracodec.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libfilagui.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libmikktspace.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libsample-resources.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libOSDependent.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libspirv-cross-glsl.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libgltfio.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libimage.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libpng.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libgltfio.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libmatdbg.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libspirv-cross-core.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libstb.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libfilamat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libfilamat_lite.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libfilamat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libviewer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libvkshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libcamutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libbackend.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libfilagui.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libmath.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libviewer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/swift/libdartfilamenttexture.dylib filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libfilament-iblprefilter.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libuberzlib.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libviewer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libfilamat_lite.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libfilameshio.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libcivetweb.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libbasis_transcoder.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libSPIRV-Tools-link.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libvkshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libz.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libbluevk.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libtinyexr.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libzstd.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libcamutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libfilabridge.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libmatdbg.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libimage.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libsmol-v.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libgltfio_core.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libsmol-v.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libfilament-iblprefilter.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libfilament.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libmeshoptimizer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libbackend.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libibl-lite.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/libktxreader.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libfilameshio.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/swift filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libtinyexr.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libSPIRV-Tools-reduce.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/macos/debug/libuberarchive.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libibl-lite.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/ios/libimageio.a filter=lfs diff=lfs merge=lfs -text
materials/Makefile filter=lfs diff=lfs merge=lfs -text
materials/gizmo.filamat filter=lfs diff=lfs merge=lfs -text
materials/gizmo.mat filter=lfs diff=lfs merge=lfs -text
materials/image.filamat filter=lfs diff=lfs merge=lfs -text
materials/image.mat filter=lfs diff=lfs merge=lfs -text
materials/unlit_fade.mat filter=lfs diff=lfs merge=lfs -text
materials/unlit_opaque.mat filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libktxreader.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libcamutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libuberzlib.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libdracodec.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libbackend.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libibl.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libmikktspace.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libzstd.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libzstd.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libfilament.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libmeshoptimizer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libvkshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libbluevk.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libgeometry.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libgltfio_core.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libstb.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libgltfio_core.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libimage.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libvkshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64 filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libfilameshio.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libcivetweb.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libfilabridge.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libuberzlib.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libfilamat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libuberarchive.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libbackend.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libimage.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libsmol-v.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libbasis_transcoder.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libdracodec.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libfilament.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libfilament-iblprefilter.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libfilamat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libibl.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libvkshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libfilaflat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libibl-lite.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libmeshoptimizer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libsmol-v.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libfilaflat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libfilaflat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libzstd.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libbackend.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libdracodec.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libcamutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libfilament.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libuberzlib.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libbluevk.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libcamutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libsmol-v.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libcivetweb.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libktxreader.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libbasis_transcoder.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libgltfio_core.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libfilaflat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libuberarchive.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libfilameshio.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libbluevk.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libfilabridge.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libgltfio_core.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libibl.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libmikktspace.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libzstd.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libfilameshio.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libfilament-iblprefilter.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libstb.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libfilament-iblprefilter.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libimage.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libfilament.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libgeometry.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libdracodec.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libbasis_transcoder.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libgeometry.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libuberarchive.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libbluevk.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libfilabridge.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libuberzlib.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libimage.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libviewer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libibl-lite.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86 filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libibl-lite.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libuberarchive.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libktxreader.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libfilament-iblprefilter.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libfilameshio.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libstb.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/arm64-v8a/libgeometry.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libviewer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libktxreader.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libmeshoptimizer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libibl.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libmeshoptimizer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libfilamat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libibl-lite.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libvkshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libcamutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libcivetweb.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libsmol-v.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libutils.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libfilabridge.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libmikktspace.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libmikktspace.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libbackend.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libfilamat.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libviewer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/armeabi-v7a/libviewer.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libcivetweb.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86_64/libshaders.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libbasis_transcoder.a filter=lfs diff=lfs merge=lfs -text
dart_filament/native/lib/android/x86/libstb.a filter=lfs diff=lfs merge=lfs -text
flutter_filament_federated/flutter_filament/example/web/dart_filament.wasm filter=lfs diff=lfs merge=lfs -text
flutter_filament_federated/flutter_filament/example/web/main.unopt.wasm filter=lfs diff=lfs merge=lfs -text
flutter_filament_federated/flutter_filament/example/web/main.wasm filter=lfs diff=lfs merge=lfs -text
flutter_filament_federated/flutter_filament/example/web/dart_filament.js filter=lfs diff=lfs merge=lfs -text
flutter_filament_federated/flutter_filament/example/web/dart_filament.worker.js filter=lfs diff=lfs merge=lfs -text
