**/*/.cxx
**/.idea
.dart_tool
**/.dart_tool
.vscode
.DS_Store
**/*/build
!thermion_dart/native/web/
thermion_dart/native/web/build/
!thermion_dart/native/web/build/**/thermion_dart.js
!thermion_dart/native/web/build/**/thermion_dart.wasm
thermion_dart/native/web/build/**
**/*/pubspec.lock
pubspec_overrides.yaml
/pubspec.lock
*.iml
**/*/*.filamat
**/*/*.g.dart
**/*.BAK
.wrangler
node_modules