name: thermion_flutter_web
description: A web platform interface for the thermion_flutter plugin.
repository: https://github.com/nmfisher/thermion_flutter/thermion_flutter
version: 0.0.1

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: ">=3.0.0"

flutter:
  plugin:
    implements: thermion_flutter_platform_interface
    platforms:
      web:
        pluginClass: ThermionFlutterWebPlugin
        fileName: thermion_flutter_web.dart

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.0
  web:
  thermion_dart:
    path: ../../thermion_dart
  thermion_flutter_platform_interface:
    path: ../thermion_flutter_platform_interface
  flutter_web_plugins:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.0.0
