lib filter=lfs diff=lfs merge=lfs -text
lib/debug filter=lfs diff=lfs merge=lfs -text
lib/debug/libtinyexr.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libuberarchive.a filter=lfs diff=lfs merge=lfs -text
lib/release filter=lfs diff=lfs merge=lfs -text
lib/release/libfilaflat.a filter=lfs diff=lfs merge=lfs -text
lib/release/libgeometry.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libbackend.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libbasis_encoder.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libbasis_transcoder.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libdracodec.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libmeshoptimizer.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libzstd.a filter=lfs diff=lfs merge=lfs -text
lib/release/libbackend.a filter=lfs diff=lfs merge=lfs -text
lib/release/libfilabridge.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libgltfio_core.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libimageio.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libktxreader.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libutils.a filter=lfs diff=lfs merge=lfs -text
lib/release/libbasis_transcoder.a filter=lfs diff=lfs merge=lfs -text
lib/release/libktxreader.a filter=lfs diff=lfs merge=lfs -text
lib/release/libmath.a filter=lfs diff=lfs merge=lfs -text
lib/release/libutils.a filter=lfs diff=lfs merge=lfs -text
lib/release/libzstd.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libimage.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libuberzlib.a filter=lfs diff=lfs merge=lfs -text
lib/release/libuberarchive.a filter=lfs diff=lfs merge=lfs -text
lib/release/libuberzlib.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libfilaflat.a filter=lfs diff=lfs merge=lfs -text
lib/release/libdracodec.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libgeometry.a filter=lfs diff=lfs merge=lfs -text
lib/release/libbasis_encoder.a filter=lfs diff=lfs merge=lfs -text
lib/release/libgltfio_core.a filter=lfs diff=lfs merge=lfs -text
lib/release/libstb.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libfilament.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libpng.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libstb.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libz.a filter=lfs diff=lfs merge=lfs -text
lib/release/libfilament.a filter=lfs diff=lfs merge=lfs -text
lib/release/libibl-lite.a filter=lfs diff=lfs merge=lfs -text
lib/release/libmeshoptimizer.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libfilabridge.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libibl-lite.a filter=lfs diff=lfs merge=lfs -text
lib/debug/libmath.a filter=lfs diff=lfs merge=lfs -text
lib/release/libimage.a filter=lfs diff=lfs merge=lfs -text
